
.localizadorTienda {
  position: absolute;
  left: 50%;
  margin-left: 60px;
  top: 15px;
}  

li.localizadorTienda :before {
	content: url("../images/localiza.jpg");
	width:15px;
	height:20px;
	position:absolute;
	left: -3px;
	top: 5px;
}
	
.asistenciaTienda {
  position: absolute;
  left: 50%;
  margin-left: 185px;
  top: 15px;
  z-index:1;
}

li.asistenciaTienda :before {
	content: url("../images/asistencia.jpg");
	width:15px;
	height:20px;
	position:absolute;
	left: -3px;
	top: -4px;
	z-index:1;
}  

.asistenciaTienda  ul :before, li.asistenciaTienda span > ul >li  :before { background:red; content:none!important;}

li.asistenciaTienda span > ul >li{
 list-style:none;background:red;
}
